Source: ros-hydro-maggie-rfid-msgs
Section: misc
Priority: extra
Maintainer: Raul Perula-Martinez <raul.perula@uc3m.es>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-message-generation, ros-hydro-message-runtime, ros-hydro-std-msgs
Homepage: http://wiki.ros.org/rfid_msgs
Standards-Version: 3.9.2

Package: ros-hydro-maggie-rfid-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-message-generation, ros-hydro-message-runtime, ros-hydro-std-msgs
Description: rfid messages and services
